!!! 5
%html
  %head
    %title Tracker Stats

    %script{:type => 'text/javascript', 
      :src => 'javascripts/jquery-1.4.4.min.js'}
    %script{:type => 'text/javascript',
      :src => 'javascripts/tracker-stats.js'}
  
    %link{:rel => 'stylesheet', :type => 'text/css', 
      :href => 'css/tracker.css'}
  %body
    #loading
      %tt Loading...

    #content
      %h1#main-header Stats for Ruby Tracker
      %p This page contains some stats about the tracker, including the active peers and the files they are currenlty downloading/uploading. By expanding the menu informationer about the individual peers can be viewed.

      %h2 Global stats
      %p
        %tt
          Tracker started:
          %span#tracker-started
            = started
          (uptime
          %span#tracker-uptime
            = uptime
          minutes)
      .main-panel
        %tt
          Active peers: 
          %span#active-peers
            = global_stats[:active_peers]
          \- Active files:
          %span#active-files
            = global_stats[:active_files]

      %h2 Active Files
      %p 
        Detailed informations about the peers can be seen by expanding the peer list. NOTE: 
        %tt refresh
        refreshes the peer list by contacting the tracker to get the newest list of active peers for that particular 
        %tt info_hash.
        Variables explained.

      %table.variables-explained
        %tbody
          %tr
            %td
              %tt last_contact
            %td
              The last time the peer made contact to the tracker.
          %tr
            %td
              %tt completed
            %td
              If the peer has completed downloading the file.

      #info-hash-list{:style => 'text-align:center;'}
        - global_stats[:info_hashes].each do |info_hash|
          .main-info-hash-container{'data-hash' => {:info_hash => info_hash}.to_json}
            .info-hash
              %tt
                info_hash: 
                = info_hash
                (
                %a.refresh-info{:href => 'javascript: void(0)'} refresh
                ) (
                %a.show-hide{:href => 'javascript: void(0)'} show
                )
            .peer-list{:style => 'display:none;'}
